{{extend 'layout.html'}}

<h2>{{=T("Search for friends")}}</h2>
{{=form}}

<!-- Esto sólo saldrá cuando se haya ejecutado la búsqueda ... -->
{{if people:}}
<h3>Results</h3>
<table>
    {{for user in people:}}
    <tr>
    <td>{{=A(name_of(user), _href=URL('wall', args=user.id))}}</td>
    <td><button onclick="ajax(
'{{=URL('friendship', args=('request', user.id))}}'
[], null);
jQuery(this).parent().html('pending')">
        {{=T("request friendship")}}
        </button>
    </td>
    </tr>
    {{pass}}
</table>
{{pass}}  <!-- cierra if inicial -->
